{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier Catégorie</h1>

        {{ include('category/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a href="{{ path('category_index') }}" class="btn btn-primary my-3">Retour</a>

        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
