{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouvelle Catégorie</h1>

        {{ include('category/_form.html.twig') }}

        <a href="{{ path('category_index') }}" class="btn btn-primary my-3">Retour</a>
    </div>
{% endblock %}
