{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <img src="{{ asset('build/images/anorrismain.jpg') }}" alt="logo">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-header">
                    GNAGANA
                </div>
                <div class="card-body">
                    Quoi quoi quoi ?!
                </div>
            </div>
        </div>
    </div>

{% endblock %}
