@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "main";
@import "nav";
@import "images";
@import "footer";




/*.background {
    background-image: url("../images/aurora2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/


