<footer class="d-flex justify-content-around">
    <div class="seed-pic">
        <img src="{{asset('build/images/seed-left.png')}}">
    </div>
    <div class="contact d-flex flex-column text-center">
        <h1>Avatar Circus</h1>
        <p>Contact / Réservations</p>
        <p>anne.bourricote@avatar-circus.fr</p>
        <p>06 60 76 98 76</p>
    </div>
    <div class="seed-pic">
        <img src="{{asset('build/images/seed-right.png')}}">
    </div>
</footer>
