<footer class="d-flex justify-content-center">
    <div class="contact d-flex flex-column text-center">
        <h2>Wild Circus</h2>
        <p>Contact</p>
        <p>anne.quiedeville@wild-circus.fr</p>
        <p>06 60 76 98 76</p>
    </div>
</footer>
