{% extends 'base.html.twig' %}

{% block body %}
    <div class="container d-flex flex-column align-items-center text-center">
        <h1>
            <img src="{{ asset('build/images/seed-left.png') }}">
            Tape-Na'Vi !
            <img src="{{ asset('build/images/seed-right.png') }}">
        </h1>

        <p class="mt-3">Tape sur les Na'Vi pour gagner des points !</p>
        <p>Si tu dépasses 15 points, tu gagnes une place gratuite pour notre spectacle à la date de ton choix !</p>
        <button class="btn btn-primary my-5" id="start-button">Commencer !</button>

        <h1>Score : <span id="score">0</span></h1>

        <h2>Temps restant : <span id="timer"></span>s</h2>
        <div class="game-end">
            <div class="hidden" id="end">
                <h2>C'est fini !</h2>
                <h3 id="end-text"></h3>
            </div>

            <div class="game row">
                <div class="hole hole1 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole2 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole3 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole4 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole5 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole6 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole7 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole8 col-4">
                    <div class="mole"></div>
                </div>
                <div class="hole hole9 col-4">
                    <div class="mole"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('game') }}
{% endblock %}
