{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Tape-Na'Vi !</h1>
        <h2>Score : <span id="score">0</span></h2>

        <button class="btn btn-primary" id="start-button">Commencer !</button>

        <div class="game row">
            <div class="hole hole1 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole2 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole3 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole4 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole5 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole6 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole7 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole8 col-4">
                <div class="mole"></div>
            </div>
            <div class="hole hole9 col-4">
                <div class="mole"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('game') }}
{% endblock %}
