{% extends 'base.html.twig' %}

{% block title %}Modifier Numéro{% endblock %}

{% block body %}
    <div class="container">
    <h1>Modifier Numéro</h1>

    {{ include('performance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('performance_index') }}">Retour</a>

    {{ include('performance/_delete_form.html.twig') }}
    </div>
{% endblock %}
