{% extends 'base.html.twig' %}

{% block title %}New Performance{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un numéro</h1>

        {{ include('performance/_form.html.twig') }}

        <a class="btn btn-primary" href="{{ path('performance_index') }}">Retour</a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('fillImageInput') }}
{% endblock %}
