<form method="post" action="{{ path('tour_delete', {'id': tour.id}) }}" onsubmit="return confirm('Etes-vous sûr(e)');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tour.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
