{% extends 'base.html.twig' %}

{% block title %}Modifier date{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier date</h1>

        {{ include('tour/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        <a href="{{ path('tour_index') }}" class="btn btn-primary my-3">Retour</a>

        {{ include('tour/_delete_form.html.twig') }}
    </div>
{% endblock %}
