{% extends 'base.html.twig' %}

{% block title %}New Tour{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter date de tournée</h1>

        {{ include('tour/_form.html.twig') }}

        <a href="{{ path('tour_index') }}" class="btn btn-primary my-3">Retour</a>
    </div>
{% endblock %}
