{% extends 'base.html.twig' %}

{% block title %}Modifier fan{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier fan</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
