{% extends 'base.html.twig' %}

{% block title %}Nouveau fan{% endblock %}

{% block body %}
    <div class="container">
        <h1>Nouveau fan</h1>

        {{ include('user/_form.html.twig') }}

        <a href="{{ path('user_index') }}" class="btn btn-primary">Retour</a>

    </div>
{% endblock %}
