<h1 style="color: red;">Avatar Circus</h1>
<p>Vous venez de réserver number places pour notre spectacle du date à ville !</p>
<p>Merci beaucoup pour votre confiance</p>
<br>
<p>A bientôt à Avatar Circus !</p>
