<head>
    <link href="https://fonts.googleapis.com/css?family=Snowburst+One&display=swap" rel="stylesheet">
</head>

<body style="background-color: black; display: flex; flex-direction: column; align-items: center">
<img style="max-height: 300px;" src="https://tel.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Ftel.2F2019.2F04.2F05.2Fe07ef356-4f2d-4044-9c6f-d431783027d2.2Ejpeg/1150x438/crop-from/top/quality/80/toruk-gagnez-vos-places-pour-le-spectacle-du-cirque-du-soleil-inspire-d-avatar-video.jpg">
<h1 style="font-family:'Snowburst One', cursive;color: #FF5FF8;">Avatar Circus</h1>
<h2 style="font-family:'Snowburst One', cursive;color: #00D9EC;">Vous venez de réserver number places pour notre spectacle du date à ville !</h2>
<h2 style="font-family:'Snowburst One', cursive;color: #00D9EC;">Montant : prix€ , à régler le jour J !</h2>
<br>
<h2 style="font-family:'Snowburst One', cursive;color: #00D9EC;">Merci beaucoup pour votre confiance</h2>
<br>
<h2 style="font-family:'Snowburst One', cursive;color: #FF5FF8;">A bientôt à Avatar Circus !</h2>
<br>
<br>
<p style="font-family:'Snowburst One', cursive;color: #00D9EC;">Contact: anne.bourricote@avatar-circus.fr</p>
</body>

