<body style="background-color: black;">
<h1 style="color: #FF5FF8;">Avatar Circus</h1>
<p style="color: #00D9EC;">Vous venez de réserver number places pour notre spectacle du date à ville !</p>
<p style="color: #00D9EC;">Merci beaucoup pour votre confiance</p>
<br>
<p style="color: #FF5FF8;">A bientôt à Avatar Circus !</p>
</body>

