<body style="background-color: black">
<h1 style="color: #FF5FF8;">Avatar Circus</h1>
<p style="color: #00D9EC;">Nous venons de monter un nouveau numéro : "name" , nous sommes sûrs que cela vous plaira !</p>
<p style="color: #00D9EC;">
    <a href="path" style="color: #FF5FF8; text-decoration: none;">
        Cliquez ici pour voir le descriptif du nouveau numéro
    </a>
</p>
<br>
<p style="color: #FF5FF8;">A bientôt à Avatar Circus !</p>
</body>

